0 */6 * * * DISPLAY=:0 DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/$(id -u)/bus __HOME__/debian/scripts/Backup.sh --push >> __HOME__/.config/debian/backup.log 2>&1
0 9 * * * DISPLAY=:0 DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/$(id -u)/bus __HOME__/debian/scripts/Daily_Debian.sh >> __HOME__/.config/debian/daily.log 2>&1
*/15 * * * * DISPLAY=:0 DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/$(id -u)/bus __HOME__/debian/scripts/Organize_auto.sh >> __HOME__/.config/debian/organize.log 2>&1
